#appBar {
  border-radius: 50px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
}
#heading {
  color: #551338;
  font-weight: 400;
  text-transform: lowercase;
}
#image {
  margin-left: 15px;
}
